
main {
  padding: 0.75rem 1.75rem;

  .floating-anchor {
    position: relative;
    top: -80px;
    width: 1px;
    background-color: transparent;
    z-index: -1;
  }
}

section {
  color: var(--color-text);
  font-size: var(--text-small);
  padding-bottom: 1.5rem;

  &:first-child {
    padding-top: 2.5rem;
  }

  span.font-icon {
    font-size: var(--text-2x-large);
    color: var(--color-primary);
    margin-inline-end: 0.25rem;
    vertical-align: text-bottom;
  }

  h1 {
    font-family: var(--font-mono);
    font-size: var(--text-large);
    font-weight: var(--weight-medium);
  }

  p {
    padding-top: 0.6rem;
    text-indent: 1.5rem;
    line-height: 1.66rem;
    letter-spacing: 0.5px;
  }

  span[data-highlight=true] {
    color: var(--color-secondary);
  }

  .grid {
    padding: 1.75rem 0;
  }
}

.about-me {
  img {
    margin: auto;
    max-width: 66%;
    aspect-ratio: 1;
    border-radius: 10000px;
  }
}

.interests {
  list-style: outside disc;
  column-count: 2;
  font-weight: var(--weight-medium);
  padding-top: 0.75rem;

  li {
    margin-left: 1rem;
    padding: 0.25rem 0;
  }
}

/* MD */
@media screen and (min-width: 768px) {
  section {
    font-size: var(--text-medium);
  
    span.font-icon {
      font-size: var(--text-3x-large);
      margin-inline-end: 0.5rem;
    }
  
    h1 {
      font-size: var(--text-x-large);
    }
  }
  
  .about-me {
    img {
      margin: auto;
      max-width: 40%;
    }
  }
}

/*LG */
@media screen and (min-width: 1024px) {
  .about-me {
    p {
      max-width: 50%;
    }

    img {
      max-width: 280px
    }
  }
  
  .interests {
    width: 75%;
  }
}

/* XL */
 @media screen and (min-width: 1280px) {
  section {
    font-size: var(--text-large);
    padding-left: 4rem;
  
    span.font-icon {
      font-size: var(--text-3x-large);
      margin-inline-end: 0.5rem;
    }
  
    h1 {
      font-size: var(--text-2x-large);
    }
  }
  
  .interests {
    width: 66%;
  }
}

/* 2XL */
/* @media screen and (min-width: 1536px) {

} */
