/* SM */
header {
  background-color: var(--color-surface);
  padding: 0.75rem 1rem;
  width: 100%;

  .container {
    padding: 0 1rem 8rem 1rem;
  }
}

.border-bottom {
  background-color: var(--color-surface);

  width: 125%;
  height: 110px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;

  margin-top: -55px;
}

.greeting {
  h1, h2 {
    font-family: var(--font-sans);
  }
  h3, h4 {
    font-family: var(--font-mono);
    font-weight: var(--weight-medium);
  }
  
  h2 {
    font-weight: var(--weight-bold);
    font-size: var(--text-2x-large);
  }
  h1 {
    font-weight: var(--weight-black);
    font-size: var(--text-3x-large);
  }
  h3 {
    font-size: var(--text-x-large);
  }
  h4 {
    font-size: var(--text-medium);
  }
}

/* MD */
@media screen and (min-width: 768px) {
  header .container {
    padding: 2rem 3rem 5rem;
  }

  .border-bottom {
    width: 105%; 
  }

  .greeting {
    h2 {
      font-size: var(--text-4x-large);
    }
    h1 {
      font-size: var(--text-6x-large);
    }
    h3 {
      font-size: var(--text-2x-large);
    }
  }
}

/*LG */
@media screen and (min-width: 1024px) {
  header .container {
    padding: 10rem 0 3.5rem 5rem;
  }
}

/* XL */
 @media screen and (min-width: 1280px) {
  header .container {
    padding: 10rem 0 3.5rem 8rem;
  }
}

/* 2XL */
/* @media screen and (min-width: 1536px) {

} */