.stage {
  width: 500px;
  height: 500px;
  filter: url('/public/filter/filter.svg#gooey-filter');
  position: relative;
}

.orbit1 {
  position: absolute;
  left: 50%;
  top: 50%;

  animation: orbit 37s linear 0s infinite reverse;
}

.orbit1-r {
  position: absolute;
  left: 50%;
  top: 50%;

  animation: orbit 31s linear 0s infinite;
}

.orbit2 {
  position: absolute;
  left: 60px;
  top: 10px;
  
  animation: orbit 29s linear 0s infinite reverse;
}

.orbit3 {
  position: absolute;
  left: 120px;
  top: 0px;
  
  animation: orbit 23s linear 0s infinite reverse;
}

.orbit4 {
  position: absolute;
  left: 30px;
  top: 0px;
  
  animation: orbit 19s linear 0s infinite;
}

.blob1 {
  width: 200px;
  height: 200px;
  
  border-radius: 80px;
  position: absolute;
  left: -85px;
  top: -100px;

  animation: rotate 37s linear 0s infinite,
    gradient 23s linear 0s infinite;

  background: radial-gradient(50% 50%, #35c7f5 20%, #89f954 80%);
  background-size: 200% 200%;
}

.blob2 {
  width: 150px;
  height: 150px;
  
  border-radius: 70px;
  position: absolute;
  left: -58px;
  top: -88px;
  
  animation: rotate 41s linear 0s infinite,
    gradient 19s linear 0s infinite;

  background: radial-gradient(50% 50%, #35c7f5 20%, #89f954 80%);
  background-size: 200% 200%;
}

.blob3 {
  width: 50px;
  height: 50px;
  
  border-radius: 20px;
  position: absolute;
  left: -30px;
  top: 4px;

  animation: rotate 43s linear 0s infinite,
    gradient 23s linear 0s infinite;

  background: radial-gradient(50% 50%, #35c7f5 20%, #89f954 80%);
  background-size: 200% 200%;
}

.blob4 {
  width: 40px;
  height: 40px;
  
  border-radius: 15px;
  position: absolute;
  left: 35px;
  top: -16px;
  
  animation: rotate 29s linear 0s infinite,
    gradient 31s linear 0s infinite;

  background: radial-gradient(50% 50%, #35c7f5 20%, #89f954 80%);
  background-size: 200% 200%;
}

.blob5 {
  width: 80px;
  height: 80px;
  
  border-radius: 30px;
  position: absolute;
  left: 20px;
  top: -180px;

  animation: rotate 23s linear 0s infinite,
    gradient 31s linear 0s infinite;

  background: radial-gradient(50% 50%, #35c7f5 20%, #89f954 80%);
  background-size: 200% 200%;
}

@keyframes orbit {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
	0%, 100% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
}
